body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tamaño {
    color: #61DAFB;
    font-size: 50px;
}

.tamañoR {
    color: #7348B7;
    font-size: 50px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}